flows.json
[{"id":"aca40ff7.cf6f2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8a79171.aa2ea","type":"function","z":"aca40ff7.cf6f2","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["f793926e.a2406"]]},{"id":"f793926e.a2406","type":"watson-discovery-v1","z":"aca40ff7.cf6f2","name":"newsapp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/b17f15af-852a-4159-b980-43b9ebeee069","x":380,"y":220,"wires":[["f04e7237.74f4f","886e232e.bac1b","c8cd4f85.ebdd6","b9a618bd.90a0a8","5388f246.73b2cc","4b58e41b.6e905c","b1b444fc.57c728"]]},{"id":"f04e7237.74f4f","type":"function","z":"aca40ff7.cf6f2","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["8b4f586b.daf5c8"]]},{"id":"b1b444fc.57c728","type":"sentiment","z":"aca40ff7.cf6f2","name":"","property":"payload","x":400,"y":440,"wires":[["f02e015b.ef119","1b9cad76.c72673","89612faf.040a6"]]},{"id":"8b4f586b.daf5c8","type":"ui_text","z":"aca40ff7.cf6f2","group":"9ba5f5a.8aef808","order":3,"width":"12","height":"4","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":40,"wires":[]},{"id":"886e232e.bac1b","type":"function","z":"aca40ff7.cf6f2","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["35698a05.e60786"]]},{"id":"35698a05.e60786","type":"ui_text","z":"aca40ff7.cf6f2","group":"9ba5f5a.8aef808","order":4,"width":"0","height":"0","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":140,"wires":[]},{"id":"d12842dd.1c547","type":"ui_text","z":"aca40ff7.cf6f2","group":"9ba5f5a.8aef808","order":5,"width":"0","height":"0","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":200,"wires":[]},{"id":"7782af73.98f8e","type":"ui_text","z":"aca40ff7.cf6f2","group":"9ba5f5a.8aef808","order":6,"width":"0","height":"0","name":"","label":"url","format":"{{msg.payload}}","layout":"row-left","x":910,"y":260,"wires":[]},{"id":"25d91838.d43af8","type":"ui_text","z":"aca40ff7.cf6f2","group":"9ba5f5a.8aef808","order":8,"width":"0","height":"0","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":380,"wires":[]},{"id":"c8cd4f85.ebdd6","type":"function","z":"aca40ff7.cf6f2","name":"main page url","func":"msg.payload=msg.search_results.results[0].host\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["d12842dd.1c547"]]},{"id":"b9a618bd.90a0a8","type":"function","z":"aca40ff7.cf6f2","name":"url","func":"msg.payload=msg.search_results.results[0].url\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["7782af73.98f8e"]]},{"id":"5388f246.73b2cc","type":"function","z":"aca40ff7.cf6f2","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_title.entities[0].sentiment.score\nreturn msg","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["48977e49.68636"]]},{"id":"4b58e41b.6e905c","type":"function","z":"aca40ff7.cf6f2","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_title.entities[0].sentiment.label\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["25d91838.d43af8"]]},{"id":"f02e015b.ef119","type":"function","z":"aca40ff7.cf6f2","name":"sentiment","func":"msg.payload=msg.search_results.results[0].enriched_title.entities[0].sentiment.score\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["79c6389b.265f68"]]},{"id":"1b9cad76.c72673","type":"function","z":"aca40ff7.cf6f2","name":"positive","func":"msg.payload=msg.search_results.results[0].enriched_title.entities[0].sentiment.score\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["c44537b8.71b378"]]},{"id":"89612faf.040a6","type":"function","z":"aca40ff7.cf6f2","name":"negative","func":"msg.payload=msg.search_results.results[0].enriched_title.entities[0].sentiment.score\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":560,"wires":[["d98c501c.c0e65"]]},{"id":"79c6389b.265f68","type":"ui_chart","z":"aca40ff7.cf6f2","name":"","group":"9ba5f5a.8aef808","order":8,"width":0,"height":0,"label":"sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":440,"wires":[[]]},{"id":"48977e49.68636","type":"ui_gauge","z":"aca40ff7.cf6f2","name":"sentiment score","group":"9ba5f5a.8aef808","order":7,"width":0,"height":0,"gtype":"gage","title":"sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":320,"wires":[]},{"id":"c44537b8.71b378","type":"ui_chart","z":"aca40ff7.cf6f2","name":"","group":"9ba5f5a.8aef808","order":8,"width":0,"height":0,"label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":500,"wires":[[]]},{"id":"d98c501c.c0e65","type":"ui_chart","z":"aca40ff7.cf6f2","name":"","group":"9ba5f5a.8aef808","order":9,"width":0,"height":0,"label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":560,"wires":[[]]},{"id":"7543cc25.23a824","type":"ui_form","z":"aca40ff7.cf6f2","name":"","label":"","group":"9ba5f5a.8aef808","order":9,"width":"0","height":"0","options":[{"label":"Enter query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":320,"wires":[["f8a79171.aa2ea"]]},{"id":"9ba5f5a.8aef808","type":"ui_group","z":"","name":"Default","tab":"d01d3b65.c2e538","order":1,"disp":true,"width":"12","collapse":false},{"id":"d01d3b65.c2e538","type":"ui_tab","z":"","name":"newsapp","icon":"dashboard","disabled":false,"hidden":false}]